logs/
samples/
*.ex4
DDE-Sample.xls
Languages/
Links/
Sounds/
Uninstall.exe
config/
deleted/
history/
mailbox/
*.chm
profiles/
*.exe
terminal.ico
symbolset/
templates/
tester/
experts/libraries/CheckAccountType.dll
experts/Quiet Time Strategy.log
*.dat

