logs/
samples/
*.ex4
DDE-Sample.xls
Languages/
Links/
Sounds/
Uninstall.exe
config/
deleted/
history/
mailbox/
*.chm
profiles/
*.exe
*.dat
terminal.ico
symbolset/
templates/
tester/
experts/libraries/CheckAccountType.dll
experts/Quiet Time Strategy.log
experts/ZUP_v110.mq4
*.dat
experts/files/
experts/presets/
experts/libraries/MyfxbookEA.dll

